.tag-nav-comp {
    width: 100%;
    height: 100%;
    position: relative;
    user-select: none;
    .tag-scroll-btn, .tag-close-btn {
        background-color: #FFFFFF;
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        height: 100%;
        cursor: pointer;
        width: 28px;
        z-index: 10;
    }
    .tag-scroll-btn {
        padding: 0 4px;
        border: 1px solid #F0F0F0;
        &.left-btn {
            left: 0;
        }
        &.right-btn {
            right: 32px;
            border-right: 1px solid #F0F0F0;
        }
    }
    .tag-close-btn {
        justify-content: center;
        right: 0;
        width: 32px;
    }
    .scroll-outer {
        position: absolute;
        top: 0;
        left: 28px;
        right: 61px;
        bottom: 0;
        box-shadow: 0 0 3px 2px rgba(100, 100, 100, .1) inset;
        .scroll-body {
            padding: 2px 4px;
            height: 100%;
            white-space: nowrap;
            transition: left .3s ease;
            position: absolute;
            cursor: pointer;
        }
    }
}

.cus-dropdown-item {
    font-size: 12px !important;
}